{% extends 'charity_donation/index.html' %}
{% block header %}{% endblock %}
{% block slogan %}{% endblock %}
{% block content %}
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.errors }}

        <div class="form-group">
          {{ form.username.errors }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password.errors }}
          {{ form.password }} {{ message }}
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% endblock %}
